:root {
    --primary-color: #1d293a;
    --secondary-color: #fff200;
    --third-color: #4cd137;
    --primary-font: "Noto Sans JP", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}